
body{
  margin: 0;
  padding: 0;
}

body  *{
  /* box-shadow: 0 0 0 1px black; */
}

.title {
  margin: 0;
  padding: 1rem .5rem;
  font-family: 'Playfair Display', serif;
  color: #614b2d;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
}

.dish__content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  margin: 1rem .5rem
}

.dish{
  border-radius: 5px;
  margin: 2px 0;
  padding: .5rem;

  /* background-color: aquamarine; */

  display: grid;
  border: 1px solid #614b2d;
  background-color: #f5f5f5;
}

.idsh__name{
  color: #614b2d;
  font-family: 'Playfair Display', serif;
  font-family: Montserrar, sans-serif;
  font-size: 1.25rem;

  margin: 0;
  padding: .5rem 0;
}

.dish__ingredients{
  font-family: Montserrar, sans-serif;
  font-size: 1rem;
  color: #333;
}

.dish__price{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #614b2d;
  margin: 0;
  padding: .5rem 0;
  font-size: 1.25rem;
}